html {
    background-color: black;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    width: 900px;
    background-color: orange;
}

h1 {
    font-family: 'Anton', sans-serif;
}

p, ol{
    font-family: 'Noto Sans JP', sans-serif;
}

.info-about-me {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.info-about_text {
    width: 500px;
    height: 300px;
}

.my-photo {
    padding: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.my-photo_img {
    border-radius: 25px 70px;
}

.contacts {
    margin-left: 20px;
    display: flex;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

#email {
    padding: 5px 5px 0 5px;
}

.contacts_email:hover {
    background-color: black;
    color: white;
}

.contacts_tg:hover {
    background-color: white;
    border-radius: 50%;
}