html {

    background: #fafafa;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    max-width: 1024px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
}

h1, .my-projects-link {
    margin: 0 0;
    font-family: 'Anton', sans-serif;
}

p, ol {
    font-family: 'Noto Sans JP', sans-serif;
}

.info-about-me {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    height: 350px;
}

.info-about_text {
    width: 800px;
    height: auto;
}

.my-photo {
    width: 300px;
    padding: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.my-photo_img {
    width: 90%;
    height: auto;
    border-radius: 25px 70px;
}

.portfolio {
    background: #f0f5ff;
}
iframe {
    border: 2px solid #f1f2f5;

    margin-top: 10px;
}
.my-projects {
    padding-top: 20px;
    text-align: center;
}

.my-projects a:hover {
    color: #4e4a4a;
 text-decoration: underline;
}

.contacts {
    background: #f1f2f5;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
}

#email {
    padding: 5px 5px 0 5px;
}

.contacts_email:hover {
    text-decoration: underline;
    color: #2f2c2c;
}

.contacts_tg:hover {
    background-color: silver;
    border-radius: 100%;
}